body {
    background-color: #ECF0F1;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-width: 1027px;
}

h2 {
    font-family: "Source Sans Pro", "Helvetica Neue", "Arial", sans-serif;
    font-size: 5em;
    line-height: 80%;
}

.container {
    margin: auto;
    width: 80%;
    overflow: hidden;
}

.float-right-big {
    float: right;
    width: 70%;
}

.float-left-small {
    float: left;
    width: 30%;
}

.float-right-small {
    float: right;
    width: 30%;
}

.float-left-big {
    float: left;
    width: 70%;
}

.vertical-left {
    float: right;
    text-align: right;
    transform: rotate(270deg);
    transform-origin: right bottom;
    position: relative;
    bottom: 1.49em;
    padding: 0;
}

.vertical-right {
    float: left;
    text-align: left;
    transform: rotate(90deg);
    transform-origin: left bottom;
    position: relative;
    bottom: 1.49em;
    padding: 0;
}

.logo p{
    font-size: 24pt;
    padding: 1em 0 1.5em 0;
}
.logo img{
    margin: auto;
    margin-top: 10em;
    display:block;
    width: 40%;
    max-width: 15em;
    height: auto;
}

#about {
    height: 40em;
}

#about .float-right-big{
    background-color: #2C3E50;
}

#about p {
    color: white;
    width: 50%;
    float: left;
    display:block;
    margin: 5em 0 0 5em;
}

#about img{
    display:block;
    width: auto;
    float:right;
    max-height: 30em;
    padding:  0;
    margin-right: 2em;
}

#skills {
    height: 40em;
}

#skills .float-left-big{
    background-color: #E74C3C;
}

#skills .float-left-big div{
    text-align: center;
    padding: 2em 0 5em 0;
}

#skills ul li{
    color: white;
    display: block
}

#exp {
    height: 50em;
}

#exp .float-right-big{
    background-color: #3498DB; 
}

#exp div p{
    padding: 2em 3em 3em 3em;
}
#exp p {
    color: white;
}

#exp h2 {
    text-align: left;
    bottom: 2.29em;
}

#proj {
    height: 40em;
}

#proj p {
    background-color: cadetblue;
    padding: 10em 5em 10em 5em;
    color: white;
    height: 8em;
}


#edu{
    height: 40em;
}
#edu p {
    background-color: crimson;
    padding: 10em 5em 10em 5em;
    color: white;
    height: 8em;
}



nav ul {
    margin: 0;
    padding: 0 0 10em 0;
    
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #777;
    font-weight: 600;
    margin: 1em
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #000;
}

/* stroke */
nav.stroke ul li a{
  position: relative;
}

nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #000;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}


nav a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

#contact {
    height: 40em;
}

#contact p {
    background-color: cadetblue;
    padding: 10em 5em 10em 5em;
    color: white;
    height: 8em;
}



.is-centered {
    text-align: center;
}



